/* CSS RESET */

*, *::after, *::before {
   box-sizing:border-box;
}

:root {
   --font-sans:Open Sans, Helvetica, Arial, sans-serif;
   --font-serif:Bree Serif, Georgia, serif;

   --color-neutral-lighter:#5362c738;
   --color-neutral-light:#e0e0e5;
   --color-neutral-mediumer:#b4b4be;
   --color-neutral-medium:#83838f;
   --color-neutral-dark:#30304e;

    --color-main-light: #d5fffe;
    --color-main-medium: #5362c7;
    --color-main-dark: #9662da;

   --color-white:#fff;
   --color-black:#000;

   --header-height:3rem;
}

body {
   margin:0;
   font-size:100%;
   font-family:var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
   color:var(--color-dark);
   font-family:var(--font-serif);
   font-size: initial;
}




a {
   color:inherit;
   font-weight:bold;
   text-decoration:none;
}
   a:hover {
      text-decoration: underline;
   }





/* LAYOUT CLASSES */

.container {
   max-width:1000px;
   margin-left: auto;
   margin-right: auto;
}
.hidden { display:none; }
.overscroll {
   height:100%;
   width:100%;
   overflow:auto;
}



.display-flex { display:flex; }
.display-block { display:block; }
.display-inline-flex { display:inline-flex; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 0.5 1 auto; }
.flex-stretch-2{ flex:1 1 auto; }
.flex-none { flex:none; }

.flex-justify-center { justify-content:center; }
.flex-align-center { align-items:center; }











/* FORMS */

#err-msg{
  visibility:hidden;
  color:red;
  width:100%;
  margin-top:1em;
  text-align: center;
}

.form-control {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.ui-mobile label.form-label {
    margin: 0 1em 0.5em;
    font-size: 0.8em;
    color: var(--color-black);
}
.form-input {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    padding: 1em 1em;
    border-radius: 0.2em;
    font: inherit;
    outline: 0;
}
.form-button {
    width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-main-dark);
    color:var(--color-white);
    padding: 1em 1em;
    border-radius: 30px;
    font: inherit;
    outline: 0;
    text-align:center;
}
.form-button:hover {
   text-decoration:none;
   cursor:pointer;
}


#list-search-form{
 margin:0.5em 0.5em;

}
.hotdog {
  
   display: inline-flex;
   background-color: var(--color-neutral-light);
   padding: 0.5em 1em;
   border-width: 1em;
   line-height:1;
}
[data-role="header"]>.hotdog {
   padding:0.7em 1em;
}
.hotdog>input {
   flex:1;
   border-width:0;
   border-radius:0;
   background-color:transparent;
   font:inherit;
   color:inherit;
   outline:0;
   padding:0;
}






/* PAGE LAYOUTS */
.ui-mobile .ui-page-active {
   display:flex;
   flex-direction:column;
   position:fixed;
   width:100%;
   height:100%;
   top:0;
   left:0;
}
[data-role='main'] {
   flex: 1 1 100%;
   overflow:hidden;
   position:relative;
}
.ui-header {
   flex: none;
   height:var(--header-height);
   line-height:var(--header-height);
   border-width:0;
   background-color:var(--color-main-dark);
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   position:relative;
   overflow:hidden;
   color: white;
}


.ui-footer {
   flex: none;
  
   border-width:0;
   background-color:var(--color-white);
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   position:relative;
   overflow:hidden;
}

.ui-header .ui-title {
   margin:0;
   padding:0;
   position:absolute;
   top:0;
   left:0;
   width:100%;
   text-align:center;
   z-index:1;
}






/* NAV */
.ui-footer ul,
.ui-header ul {
   position:relative;
   z-index:2;
   margin:0;
   padding:0;
   display:flex;
   list-style-type:none;
}
.ui-footer li {
   flex: 1 1 auto;
   text-align:center;
}
.ui-footer a,
.ui-header a {
   padding:0 1em;
   display:block;
}
.ui-footer a:hover,
.ui-header a:hover {
   text-decoration:none;
}







/* PAGE SPECIFICS */
#signin-page [data-role='main'] {
   display:flex;
   flex-direction:column;
}
#signup-page [data-role='main'] {
  display: flex;
  flex-direction:column;
}
#signup-form{
  width:100%;

}

.map {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
}
.icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
}
.ui-header .icon {
  vertical-align:middle;
}



.overscroll {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.animallist {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.animallist-item {
    display: flex;
    margin: 1em;
    background-color: #ffffff;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.15);
    width: 140px;
    border-radius: 0.5em;
    overflow: hidden;
    flex-direction: column;
}

.animallist-icon img {
    width: 140px;
    height: 120px;
    vertical-align: text-bottom;
    object-fit: cover;
}

.animallist-description {
    padding: 0.5em;
    flex: 1 1 auto;
}

.animallist-color{
  font-size:0.7em;
  font-weight: var(--font-weight-light);
  color:var(--color-neutral-medium);
}


#recent-page [data-role='main'] {
   background-position:center;
   background-size:cover;
}









/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.3s;
    z-index:10;
    pointer-events:none;
}
.modal.active {
    opacity: 1;
}
.modal-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0,0,0,0.6);
}
.modal.active .modal-back {
   pointer-events:initial;
}



/* MODAL POPUP */
.modal-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 3em));
    width: 80vmin;
    transition:all 0.3s;
}
.modal.active .modal-popup {
    transform: translate(-50%,-50%);
   pointer-events:initial;
}
.modal-head,
.modal-foot {
    background-color: var(--color-white);
    padding: 0.5em 1em;
}

.modal-head2{
  background-color: var(--color-main-medium);
  color:white;
  font-size:1.7em;
  font-weight: 900;
    padding: 0.5em 1em;
    text-align: center;

}
.modal-body {
    background-color: var(--color-white);
    padding: 1em;
}
.modal-head h1 {
  font-size:1em;
  margin:0;
}





/* MODAL DRAWER */
.modal-drawer {
   position: absolute;
   display: flex;
   flex-direction: column;
   transition: all 0.3s;
   box-shadow:0 0 5px rgba(0,0,0,0.15);
   border-width: 10em;
   

}
.modal-drawer.left,
.modal-drawer.right {
   height: 100%;
   width:70vw;
}
.modal-drawer.left { left: 0; transform:translateX(-100%); }
.modal-drawer.right { right: 0; transform:translateX(100%); }

.modal-drawer.top,
.modal-drawer.bottom {
   width: 100%;
   height:40vh;
}
.modal-drawer.top { top: 0; transform:translateY(-100%); }
.modal-drawer.bottom { bottom: 0; transform:translateY(100%); }

.modal.active .modal-drawer {
   transform:translate(0);
   pointer-events:initial;

}


.modal-drawer .modal-body {
   flex:1 1 100%;
   padding:20px;
  
}


.modal-toast {
   position: absolute;
   width: 50%;
   min-height: var(--header-height);
   background-color: #fff5a8;
   border-radius: 0.2em;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.15);
   left: 50%;
   text-align: center;
   padding: 1em;
   transition:all 0.3s;
}
.modal-toast.top {
   top:1em;
   transform:translate(-50%,-1em);
}
.modal-toast.bottom {
   bottom:1em;
   transform:translate(-50%,1em);
}
.modal.active .modal-toast {
   transform: translate(-50%,0);
   pointer-events:initial;
}





/* FLOATER */
.floater { position: absolute; }
.floater.right { right: 1em; }
.floater.left { left: 1em; }
.floater.top { top: 1em; }
.floater.bottom { bottom: 1em; }




/* CIRCLE */
.btn-circle {
  display:inline-block;
   background-color:var(--color-white);
   width:3rem;
   height:3rem;
   line-height:3rem;
   text-align:center;
   font-size:1.5em;
   border-radius:2em;
   box-shadow:2px 2px 5px rgba(0,0,0,0.15);
}




.modal-close-floater {
    position: absolute;
}
.modal-close-floater.right {
  right:1em;
}
.modal-close-floater.top {
  top:-1em;
  transform: translateY(-100%);
}


/* Profile */
.user-profile-image {
   position:relative;
   width:100%;
   height:100%;
   padding-top:1em;
   border-radius: 50%;
}

.user-profile-image>a>img {
   width:calc(100vmin - 10em);
   height:calc(100vmin - 10em);
   margin:auto;
   display:block;
   border-radius:50%;
   object-fit:cover;
}

.profile-info{
  text-align: center;
}

.profile-info2{
    display:flex;
    flex-direction: column;
    border-width: 0;
    background-color: var(--color-neutral-lighter);
    padding: 1em 1em;
    font: inherit;
    outline: 0;
    margin:0em 1em;
    border-radius: 0;
    
}

.info-name{
      font-family: var(--font-serif);
    font-size: 0.8em;
    color: var(--color-main-medium);
    margin-bottom: 0.2em;
}

.info-value{
  font-size: 1.2em;
    font-weight: var(--font-weight-normal);
}


.settings-list{
  display:flex;
  flex-direction:column;
  margin:1em 1em;

}

.setting{
  margin-bottom: 1em;
  border-bottom: 0.5px solid var(--color-main-medium);
  padding-bottom: 5px;
}


.form-label{
  display:block;
  width:100%;
  font-family: var(--font-serif);
    font-size: 0.8em;
    color: var(--color-main-medium);
    margin-bottom: 0.2em;

}

.form-select{
  color:var(--color-main-main);
  background-color: var(--color-neutral-lighter);
  position:relative;
}

.form-select select{
    color:black;
    display: inline-block;
    vertical-align: baseline;
    width: 100%;
    white-space: nowrap;
    border-width: 0.5;
    color: inherit;
    font: inherit;
    padding: 0.5em 1em;
    outline: 0;
    text-align: center;
    background-color: var(--color-neutral-lighter);
    text-decoration: none;
    cursor: pointer;
}
.form-button-save{
   width: 100%;
    display: inline-block;
    border-width: 0;
    background-color: var(--color-white);
    color:var(--color-main-medium);
    padding: 1em 1em;
    border-radius: 30px;
    border:2px solid var(--color-main-medium);
    
    font: inherit;
    outline: 0;
    text-align:center;
}




#recent-drawer .modal-drawer {
  margin:1em;
  width:calc(100% - 2em);
}

.animal-popup img {
  width:50px;
  border-radius: 10%
}
.animal-popup h2 {
  margin:0;
}
.animal-popup-description {
  padding:1em;
}




.filter-list {
    display: flex;
    overflow: auto;
}
.filter {
    padding: 0 0.5em;
    font-weight: bold;
    cursor:pointer;
}






.image-uploader input {
   display:none;
}
.image-uploader.full {
   position:absolute;
   top:0;
   left:0;
   width:100%;
   height:100%;
   background-position:center;
   background-size:contain;
   background-repeat:no-repeat;
}

#animal-profile-page [data-role='main'] {
    display: flex;
    flex-direction: column;
}
.profile-top {
   flex: 1;
    position: relative;
    overflow:auto;
}
.profile-bottom {
    


      height: 30vh;
    flex: none;
    overflow:auto;
    position:relative;
}


.animal-profile {
  padding:1em;
}
.animal-profile-image img {
  width:30vw;
  height:30vw;
  object-fit:cover;
}


.image-uploader.thumbnail {
   width:5em;
   height:5em;
   border-radius:0.5em;
   background-position:center;
   background-size:cover;
   position:relative;
   border:2px solid white;
   box-shadow:0 1px 3px rgba(0,0,0,0.2);
}
.image-uploader.thumbnail::before {
   color:black;
   content:'+';
   position:absolute;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
   vertical-align:middle;
   font-size:3em;
}
.image-uploader.thumbnail.picked::before {
   content:'';














